################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/steam_deck_screenshots/.vs
